/************** MAIN ELEMENTS ***************/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/ProximaNova-Sbold-webfont.eot');
    src: url('../fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}



html, body{
	height: 100%;
    font-family: 'Open Sans', sans-serif;
	color: #66686a;
	font-weight: 300;
}

#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
footer{
	width: 100%;
	min-height: 4em;
	padding: 40px 0px 40px;
}

#landing_page{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: url("../img/home.jpg");
	background-size: cover;

}

#navbar{
	position: fixed;
	top: 0px;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	background: rgba(19, 13, 29, 0.8);
	z-index: 100;
}
#logo{
	float: left;
	height: 45px;
	margin-top: 7.5px;
	margin-left: 10px;

}
#logo img{
	height: 45px;
}
#nav_buttons{
	float: right;
}
#nav_buttons a{
	display: block;
	float: left;
	padding: 15px 20px;
	line-height: 30px;
	color: white;
	border-left: 1px solid rgba(255,255,255,0.2); 
	background: transparent;
	-webkit-transition: background .25s ease-in, color .25s ease-in;
	-moz-transition: background .25s ease-in, color .25s ease-in;
	-o-transition: background .25s ease-in, color .25s ease-in;
	transition: background .25s ease-in, color .25s ease-in;
	
}
#nav_buttons a:hover{
	text-decoration: none;
	background: rgba(255,255,255,0.9);
	color: rgba(19, 13, 29, 1);
	-webkit-transition: background .25s ease-in, color .25s ease-in;
	-moz-transition: background .25s ease-in, color .25s ease-in;
	-o-transition: background .25s ease-in, color .25s ease-in;
	transition: background .25s ease-in, color .25s ease-in;
}
#nav_buttons a.active{
	text-decoration: none;
	background: rgba(255,255,255,0.9);
	color: rgba(19, 13, 29, 1);
	-webkit-transition: background .25s ease-in, color .25s ease-in;
	-moz-transition: background .25s ease-in, color .25s ease-in;
	-o-transition: background .25s ease-in, color .25s ease-in;
	transition: background .25s ease-in, color .25s ease-in;
}

#landing_footer{
	position: fixed;
	bottom: 0px;
	border-top: 1px solid rgba(255,255,255,0.2);
	width: 100%;
	background: rgba(19, 13, 29, 0.8);

}
#text_section{
	float: left;
}
#text_section a{
	color: white;
	float: left;
	
}
#text_section a:hover li{
	text-decoration: underline
}
#text_section li{
	float: left;
	list-style: none;
		color: rgba(255,255,255,0.6);
		padding: 15px 20px;
	border-right: 1px solid rgba(255,255,255,0.2);

}

#social_section{
	float: right;
}
#social_section li{
	padding: 15px 15px;
	float: left;
	list-style: none;
	height: 20px;	
}
#social_section li a{
	font-size: 1.8em;
	line-height: 20px;
	color: rgba(255,255,255,0.6);
	-webkit-transition: color .25s ease-in;
	-moz-transition: color .25s ease-in;
	-o-transition: color .25s ease-in;
	transition: color .25s ease-in;
}
#social_section li a:hover{
	color: #936FB9;
	-webkit-transition: color .25s ease-in;
	-moz-transition: color .25s ease-in;
	-o-transition: color .25s ease-in;
	transition: color .25s ease-in;	
}

#mid_section{
	position: fixed;
	top: 25%;
	width: 100%;
	color: white;
	text-align: center;
}
#mid_section h1{
font-family: 'Josefin Sans', sans-serif;
font-weight: 300;
	
}
#mid_section h1 span{
font-family: 'Mr De Haviland', cursive;	
font-weight: 100;	
font-size: 1.7em;
	
}
#mid_section h2{
font-family: 'Josefin Sans', sans-serif;

font-weight: 300;
font-style: italic;	
font-size: 18pt;
padding: 15px 0px 30px;

}
#mid_section a#call_to_action{
	color: rgba(255,255,255,0.9);
		background: rgba(19, 13, 29, 0.7);
	font-size: 14pt;
	padding: 15px 40px;
	border-radius: 5px;
	border: 2px solid rgba(255,255,255,0.9);
	-webkit-transition: background .25s ease-in, color .25s ease-in, border .25s ease-in;
	-moz-transition: background .25s ease-in, color .25s ease-in, border .25s ease-in;
	-o-transition: background .25s ease-in, color .25s ease-in, border .25s ease-in;
	transition: background .25s ease-in, color .25s ease-in, border .25s ease-in;


}
#mid_section a#call_to_action:hover{
	color: white;
	text-decoration: none;
	background: #936FB9;
	border-radius: 5px;
		border: 2px solid #936FB9;

	-webkit-transition: background .25s ease-in, color .25s ease-in, border .25s ease-in;
	-moz-transition: background .25s ease-in, color .25s ease-in, border .25s ease-in;
	-o-transition: background .25s ease-in, color .25s ease-in, border .25s ease-in;
	transition: background .25s ease-in, color .25s ease-in, border .25s ease-in;

}

body#about_page{
	background: url("../img/about.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
}
.mid_section{
	padding: 80px 0px 80px 0px;
	width: 100%;
	overflow: hidden;
	height: auto;
	overflow-y: scroll;
	color: rgba(19, 13, 29, 1);

}
.mid_section h1{
	font-weight: 400;
	font-size: 26pt;
	font-family: 'Josefin Sans', sans-serif;

}

.mid_section p{
	font-size: 10pt;
	line-height: 30px;
	font-weight: 400;
}
.mid_section ul{
	margin: 0px;
	list-style: none;
}
.mid_section ul li{
	padding: 5px 0px;
}
.buttons{
	margin-top: 20px;
}
.mid_section .buttons a{
	color: rgba(19, 13, 29, 0.7);
	background: rgba(255,255,255,0.2);
	font-size: 12pt;
	padding: 7px 15px;
	border-radius: 5px;
	font-weight: 400;
	border: 2px solid rgba(19, 13, 29, 0.55);
	-webkit-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	-moz-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	-o-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;

}
.mid_section .buttons a:hover{
	color: white;
	text-decoration: none;
	background: #936FB9;
		border: 2px solid #936FB9;

	border-radius: 5px;
	-webkit-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	-moz-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	-o-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
}
body#vendors_page{
	background: url("../img/vendors.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
}
body#contact_page{
	background: url("../img/contact2.jpg");
	background-size: cover;
	background-position: left center;
	width: 100%;
	height: 100%;
}
body#gallery_page{
	background: rgba(19, 13, 29, 1);
	width: 100%;
	height: 100%;
}
.image_wrapper{
	width: 100%;
}
.article .image{
	width: 180px;
	margin: 0px auto;
}
.upper_image{
	max-width: 222px;
	margin: 0px auto 40px;
}
.article{
	padding: 20px;

	
}
.article h4{
	font-weight: 400;
	font-size: 18pt;
	line-height: 30px;
	font-family: 'Josefin Sans', sans-serif;

}
.article p{
	font-weight: 400;
	font-size: 13pt;
	line-height: 30px;
	padding: 0px;
	font-family: 'Josefin Sans', sans-serif;

}
.article a{
	color: #936FB9;
}
.article a:hover{
	color: #936FB9;
}

.main_contact_button{
	color: rgba(19, 13, 29, 0.7);
	background: rgba(255,255,255,0.2);
	font-size: 12pt;
	padding: 15px 30px;
	border-radius: 5px;
	font-weight: 400;
	border: 2px solid rgba(19, 13, 29, 0.55);
	-webkit-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	-moz-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	-o-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;

}
.main_contact_button:hover{
	color: white;
	text-decoration: none;
	background: #936FB9;
		border: 2px solid #936FB9;

	border-radius: 5px;
	-webkit-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	-moz-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	-o-transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
	transition: background .25s ease-in, color .25s ease-in, border .24s ease-in;
}
	.main_button{
		margin-top: 30px;
		height: 60px;;
	}
	
	

input[type = "text"], input[type = "password"], textarea, input[type="email"], input[type="date"]{
	background: rgba(255,255,255,1);
	color:#3f3f3f;
	border: 2px solid rgba(19, 13, 29, 0.7);
	border-radius: 5px;
	height: 40px;
	padding: 10px;
}
textarea{
	resize: vertical;
	height: 80px;
}

input[type="text"]:focus, 
input[type="password"]:focus, textarea:focus, input[type="email"]:focus, input[type="date"]:focus{
	outline:none !important;
	box-shadow: none !important;
	background: white;
	border: 2px solid #936FB9;
;
}

input[type="text"]::-webkit-input-placeholder, 
input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder{ /* WebKit browsers */
    color: rgba(63,63,63,0.3);

}
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder, textaera::-moz-placeholder, input[type="email"]::-moz-placeholder{
    color: rgba(63,63,63,0.3);
	
}
input[type="text"]::-ms-input-placeholder, 
input[type="text"]::-moz-placeholder, textarea::-moz-placeholder, input[type="email"]::-moz-placeholder{
    color: rgba(63,63,63,0.3);
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
.validation{
	color:rgba(148,111,186,0.6);
	display: none;
}
.validation.error{
	color:rgba(154,50,50,0.6);
}


input.form_error, textarea.form_error{
	border: 2px solid rgba(154,50,50,0.3);

}
input.form_error:focus, textarea.form_error:focus{
	border: 2px solid rgba(154,50,50,0.6);
}
label{
	font-weight: 300;	
	font-size: 10pt;
}
label:hover{
	cursor:text;
	
}
div.error{
	text-align: left;
	width: 100%;
	padding: 15px 0px 0px;
	font-size: 8pt;
}
label.error{
	padding: 5px 0px;
	font-size: 8pt;
	color: rgba(154,50,50,1);
}
label.error.valid{
	color: #936FB9;
}


select:focus{
	box-shadow: none;
	outline: none;
}

form button{
	background: #936FB9;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	text-shadow: none;
	
}
form button:hover{
	background: #7c59a0;
	
}	
form button:action, form button:focus{
	outline: none;
	box-shadow: none;
}

#contact_form{
	padding: 10px;
	background: rgba(255,255,255,0.95);
	border-radius: 5px;
}
#contact_form h3{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;	
	text-align: center;
}
#contact_form button{
	text-align: center;
	width: 100%;
}

.item_block{
	width: 200px;
	display: block;
	height: auto;
	padding: 10px;
}
#gallery{
	padding: 10px;
}
#gallery li{
opacity: 0;
}
#gallery li a img{
}
/*********** RESPONSIVE **********/


@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {
	
.article .image{
	width: 100px;
}
.article h4{
	font-size: 13pt;
}
.article p{
	font-size: 11pt;
	line-height: 25px
}
	.mid_section .buttons a{
		text-align: center;
		font-weight: 400;
		display: block;
		margin-bottom: 10px;
		font-size: 10pt;
	}
}

@media (max-width: 767px) {
	#logo{
		height: 20px;
		margin-top: 9px;
		margin-left: 10px;
	
	}
	#logo img{
		height: 20px;
	}
	#nav_buttons a{
	
		padding: 5px 15px;
		font-size: 9pt;
		
	}
	#text_section{
		display: none;
	}
	#social_section{
		float:  none;
		width: 200px;;
		margin: 0px auto;
		text-align: center;
	}
	#mid_section{
		top: 20%;
	}
	#mid_section h1{
		font-size: 20pt;
		line-height: 45px;

	}
	#mid_section h2{
		font-size: 14pt;
		padding: 0px 0px 20px;
	}
	#mid_section a#call_to_action{
		font-size: 12pt;
		padding: 10px 20px;
	}
	.container{
		padding: 0px 10px;
	}
	.mid_section .buttons a{
		text-align: center;
		font-weight: 400;
		display: block;
		margin-bottom: 10px;
		font-size: 10pt;
	}
	.article{
		text-align: center;
	}
	
	.main_button{
				text-align: center;

	}
	.main_contact_button{
		font-size: 11pt;
		padding: 10px 15px;
	}
}

@media (max-width: 568px) {
	
}
